[Unit]
PartOf={{ app }}-{{ process.name }}.target

[Service]
User={{ user }}
WorkingDirectory={{ app_root }}
{% for k, v in process.env.items() -%}
Environment={{ k }}={{ v | shellquote }}
{% endfor -%}
ExecStart={{ shell }} -lc '{{ process.cmd }}'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process